.newletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-top: 150px;
    background: linear-gradient(-90deg ,#fde1ff 0%, #e1ffea22 90%);
    gap: 30px;
}
.newletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;

}
.newletter p{
    color: #454545;
    font-size: 20px;
}
.newletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border-radius: 1px solid #e3e3e3;
}
.newletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppines;
    font-size: 16px;
}
.newletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;

}
@media (max-width: 1280px) {
    .newletter{
        padding: 0px 80px;
        margin-top: 120px;
        gap: 20px;
    }
    .newletter h1{
        font-size: 36px;
    }
    .newletter p{
        font-size: 16px;
    }

    .newletter div{
        width: 600px;
        height: 60px;
    }
    .newletter div input{
        width: 400px;
    }
    .newletter div button{
        width: 160px;
        height: 60px;
    }
}
@media (max-width: 1024px) {
    .newletter{
       
        margin-top: 60px;
       
    }
    .newletter h1{
        font-size: 30px;
    }
    .newletter p{
        font-size: 14px;
    }

    .newletter div{
        width: 500px;
        height: 50px;
    }
    .newletter div input{
        width: 300px;
        font-size: 14px;
    }
    .newletter div button{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
}
@media (max-width: 800px) {
    .newletter{
       
        margin-top: 30px;
        height: 35vh;
       
    }
    .newletter h1{
        font-size: 18px;
    }
    .newletter p{
        font-size: 12px;
    }

    .newletter div{
        width: 400px;
        height: 40px;
    }
    .newletter div input{
        width: 200px;
        font-size: 13px;
    }
    .newletter div button{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
}
@media (max-width: 500px) {
    .newletter{
       
       
        height: 25vh;
        width: 100%;
        padding: 0;
        gap: 15px;

       
    }
    .newletter h1{
        font-size: 16px;
    }
    .newletter p{
        font-size: 13px;
        max-width: 200px;
        text-align: center;
    }

    .newletter div{
        width: 290px;
    
    }
    .newletter div input{
        width: 130px;
        
    }
   
}