.item {
    width: 280px;
}
.item img{
    width: 280px;
}

.item p {
    margin: 6px 0px;
    text-align: center;
}



.item-prices {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.price-item-new {
    color: #373151;
    font-size: 18px;
    font-weight: 600;

}

.price-item-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 600;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}
@media (max-width: 1280px) {
    .item{
        width: 220px;
        font-size: 14px;
    }
    .item img{
        width: 220px;
    }
    .item p {
        margin: 6px 0px;
        text-align: center;
    }
    
    
    
    .item-prices {
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    
    .price-item-new {
        color: #373151;
        font-size: 16px;
        font-weight: 600;
    
    }
    
    .price-item-old {
        color: #8c8c8c;
        font-size: 14px;
        font-weight: 600;
        text-decoration: line-through;
    }
    
}
@media (max-width: 1024px) {
    .item{
        width: 170px;
        font-size: 13px;
    }
    .item img{
        width: 170px;
    }
    .item p {
        margin: 6px 0px;
        text-align: center;
    }
    
    
    
    .item-prices {
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    
    .price-item-new {
        color: #373151;
        font-size: 14px;
        font-weight: 600;
    
    }
    
    .price-item-old {
        color: #8c8c8c;
        font-size: 13px;
        font-weight: 600;
        text-decoration: line-through;
    }
}
@media (max-width: 800px) {
    .item{
        width: 120px;
        font-size: 12px;
    }
    .item img{
        width: 120px;
    }
    .item p {
        margin: 6px 0px;
        text-align: center;
    }
    
    
    
    .item-prices {
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    
    .price-item-new {
        color: #373151;
        font-size: 14px;
        font-weight: 600;
    
    }
    
    .price-item-old {
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 600;
        text-decoration: line-through;
    }
}
@media (max-width: 500px) {
    .item{
        width: 160px;

    }
    .item img{
       width: 160px; 
    }
}