.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80vh;
}
.popular h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    background-color: #252525;
    border-radius: 10px;
}
.popular_item{
    display: flex;
    margin-bottom: 50px;
 
}