.Offer{
width: 67%;
display: flex;
text-align: center;
height: 70vh;
margin: auto;
padding: 0px 140px;
margin-top: 150px;
background: linear-gradient(45deg, black, transparent);

}
.offer_left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer_left h1{
    color: #f2f2f2;
    font-size: 80px;
    font-weight: 600;
}
.offer_left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offer_left button{
    width: 320px;
    height: 70px;
    /* border: #121212 solid 1px; */
     border-radius: 70px;
     font-size: 20px;
     font-weight: 700;
     margin-top: 35px;
     background-color: #454545;
    cursor: pointer;
    color: #fff;
      

}
.offer_left button:hover{
    border:none;
    color: #fff;
    background-color: #333;
  

}
.offer_right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}
@media (max-width: 1280px) {
    .Offer{

        padding: 0px 80px;
        margin-top: 120px;
      
        
        }
     
        .offer_left h1{
          
            font-size: 50px;
        }
        .offer_left p{
           
            font-size: 18px;
           
        }
      
        .offer_right img{
         width: 300px;
            
        }
        .offer_left button{
            width: 220px;
            height: 50px;
          font-size: 18px;
        }
        .offer_right{
            padding-top: 30px;
        }
}
@media (max-width: 1024px) {
    .Offer{

        padding: 0px 60px;
        margin-top: 140px;
        height: 40vh;
      
        
        }
     
        .offer_left h1{
          
            font-size: 30px;
        }
        .offer_left p{
           
            font-size: 16px;
           
        }
      
        .offer_right img{
         width: 200px;
            
        }
        .offer_left button{
            width: 160px;
            height: 40px;
          font-size: 16px;
        }
        .offer_right{
            padding-top: 10px;
        }
}
@media (max-width: 800px) {
    .Offer{

       
        margin-top: 80px;
       
      
        
        }
     
        .offer_left h1{
          
            font-size: 22px;
        }
        .offer_left p{
           
            font-size: 13px;
           
        }
      
        .offer_right img{
         width: 180px;
            
        }
        .offer_left button{
            width: 140px;
            height: 30px;
          font-size: 12px;
        }
       
}
@media (max-width: 500px) {
    .Offer{

       height: 25vh;
        margin-top: 50px;
       
      
        
        }
     
        .offer_left h1{
          
            font-size: 16px;
        }
        .offer_left p{
           
            font-size: 10px;
           
        }
      
        .offer_right img{
         width: 120px;
            
        }
        .offer_left button{
            width: 120px;
            height: 25px;
          font-size: 10px;
          margin-top: 12px;
        }
       
}